<h1>About Explorit</h1>
<p>Created by: Stacie Taylor-Cima</p>

<ul>
<li><a href="https://twitter.com/simply_cima"><img src="https://i.imgur.com/RQPD8dE.png" alt="Contact image"/></a></li>
<li><a href="https://www.instagram.com/simply_cima"><img src="https://i.imgur.com/FFAWA16.png" alt="Contact image"/></a></li>
<li><a href="https://www.linkedin.com/in/stacietaylorcima"><img src="https://i.imgur.com/rFEJoiW.png" alt="Contact image"/></a></li>
<li><a href="https://github.com/stacietaylorcima"><img src="https://i.imgur.com/7x1oaCH.png" alt="Contact image"/></a></li>
</ul>
