<h1>Welcome to Bloccit</h1>
  <%= link_to "Posts", posts_path, class: "btn btn-success" %>
  <%= link_to "Questions", questions_path, class: "btn btn-success" %>
  <%= link_to "Advertisements", advertisements_path, class: "btn btn-success" %>
