<div class="jumbotron">
  <h1>Explorit</h1>
  <p>Explorit is a resource for sharing travel inspiration!</p>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <span class="sign-up-button">
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> </span> today!

  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Discover new places</h2>
    <p>Explorit will open your eyes to desitnations you may have never considered visiting.</p>
  </div>
  <div class="col-md-4">
    <h2>Tout your city</h2>
    <p>Or if yours is no good, you can just Google all the awesome things about Sacramento and post those.</p>
  </div>
  <div class="col-md-4">
    <h2>Meet a travel buddy</h2>
    <p>Don't want to travel alone? Us either. Connect with friends who want to explore all the same places as you! Or maybe swap your digs.</p>
  </div>
</div>
