/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.nav-tabs {
   border-bottom: 1px solid #ddd;
}

.nav-tabs li{
  margin-top: 15px;
}

.user-info {
}

.gravatar img {
  margin-bottom: 5px;
  margin-top: 5px;
  box-shadow: 1.5px 1px 4px #cecece;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

div.pull-right{
    margin-top: 10px;
}

.pull-right{
  padding-left: 10px;
}
