.social-btn {
  color: white;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  position: static;
  margin: 10px 10px 10px 0;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}
