li.nav{
  padding-bottom: -20px;
}

.jumbotron h1{
  color: white !important;
}

.jumbotron p{
  color: white;
}
div.jumbotron{
  background-image: url("https://i.imgur.com/uZhGxSZ.jpg");
  background-size: cover;
  text-shadow: 3px .5px 0px #000;
}

span.sign-up-button{
  text-shadow: none;
}

.social li{
  display: inline;
}
