.social-button {
  color: white;
  font-size: 15px;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  position: static;
  margin: 10px 10px 10px 0;
  padding: 15px 15px 12px 15px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
}

.jumbotron h1{
  color: white !important;
}

.jumbotron p{
  color: white;
}
div.jumbotron{
  background-image: url("https://i.imgur.com/uZhGxSZ.jpg") !important;
  background-size: 100%;
  text-shadow: 3px .5px 0px #000;
}

span.sign-up-button{
  text-shadow: none;
}
